.{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
 }

 body{
    width: 100%;
    height :100%;
    background: #eee;
 }

 #container{
    width: 871px;
    height :656px;
    display: flex;
    margin-left: 310px;
    margin-top: 20px;
    justify-content: center;
    background-image: url("images/sam2.jpg");

 }
  #card{
    width :56px;
    height : 51px;
   margin-top: 365px;
   margin-right: 430px;
   user-select: none;

  }

  img,canvas{
    border-radius: 0px;

    
  }

  #card:active{
    transform: scale(1.05);
  }